.add{
  border: 10px;
  box-sizing: border-box;
  display: flex;
  font-family: Roboto, sans-serif;
  cursor: default;
  text-decoration: none;
  margin: 4px;
  padding: 0px;
  outline: none;
  background-color: rgb(224, 224, 224);
  border-radius: 16px;
  white-space: nowrap;
  width: -webkit-fit-content;
}
