.cardHdr:hover{
  background-color: #ccc;
}

.smallButtons{
  display: none !important;
}

.cardHdr{
  div{
    padding: 0 !important;
    span{
      margin: 0 !important;
      .crdTitle{
        flex: 0 0 auto !important;
        input{
        }
      }
    }
  }
}
@media screen and (max-width: 575px){
  .smallButtons{
    display: block !important;
  }
  .actionBtns{
    display: none !important;
  }
}
